{{>layout/header}} <!-- 현재 mustache기준 다른 파일을 가져온다의 의미-->

    <h1>자동화 배포까지 성공한 웹 서비스 Ver.2</h1>
    <div class="col-md-12">
        <!-- 로그인 기능 영역 -->
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                {{#userName}}
                    <!-- if문이 없기 때문에 true/false여부만 판단해서 userName 존재하면 노출시키도록 구성 -->
                    Logged in as: <span id="user">{{userName}}</span>
                    <a href="/logout" class="btn btn-info active" role="button">로그아웃</a>
                    <!-- 스프링 시큐리티에서 제공하는 기본 로그아웃 URL -->
                {{/userName}}
                {{^userName}} <!-- 머스테치에서 해당 값이 존재하지 않는 경우 ^ 사용 userName없으면 로그인 버튼 노출 -->
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">구글 로그인</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">네이버 로그인</a>
                    <!-- 네이버 로그인 url은 application-oauth.properties에 등록한 redirect-uri값에 맞춰 자동등록 -->
                    <!-- 스프링 시큐리티에서 기본으로 제공하는 로그인 :: 별도의 컨트롤러 생성할 필요가 없다 -->
                {{/userName}}
            </div>
        </div>
        <br>
        <!-- 목록 출력 영역 -->
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>게시글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>최종수정일</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#posts}} <!-- posts 라는 List 순회 자바의 for문 -->
                <tr>
                    <!-- List에서 추출한 객체의 필드-->
                    <td>{{id}}</td>
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td> <!-- 수정화면 이동 -->
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
    </div>

{{>layout/footer}}